@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

input[type='file'] {
  display: none;
}

label {
  display: flex;
  justify-content: center;
  padding: 16px 36px;
  background-color: tomato;
}

span {
  color: rgb(244, 244, 244);
  font-family: 'Noto Sans KR', sans-serif;
}
